{% load i18n %}
{% if poll %}
<p><strong>{% trans "Thank for answering the poll." %}</strong></p>
<p>{% trans "Here are the current results:" %}</p> 
{% for a in poll.get_answers_stat %}
<p>{{a.1}} ({{a.2}}) <br /><div style="background-color:#7db6f0; height:10px; width:{{a.3}}px;">&nbsp;</div></p>

{% endfor %}
{% else %}
<p>{% trans "This poll is unpublished and can not be answered." %}</p>
{% endif %}                   