{% load i18n %}
{% if polls %}
{% for p in polls %}
<div id="form-{{p.id}}">
<h3>{{p.question}}</h3>
	<form action="" method="post"> 
		{% csrf_token %}
		{% for a in p.get_answers %}
		<p><label><input type="radio" name="answer" value="{{a.0}}"> {{a.1}}</label></p>
		{% endfor %}
		<a class="submit btn btn-primary" href="#{{p.id}}" id="submit-{{p.id}}">Submit</a>
	</form>
</div>
<div class="clear">&nbsp;</div>
{% endfor %}
<script>
	// AJAX poll submission    
	function load_polls(){
		
		$('#poll a.submit').click(function(){
			$('#form-'+poll_id+' .alert').remove();
			var poll_id = $(this).attr('id');
			var poll_id = poll_id.replace('submit-','')
			//answer_id = $('#form-'+poll_id+' form input[type="radio"]:selected').val();
			var answer_id = $('#form-'+poll_id+" input[name='answer']:checked").val();
			var form_data = false;
			if(typeof answer_id != 'undefined'){
			post_url = "/poll/submit/" + poll_id+'/'+answer_id;
			$('#form-'+poll_id).slideUp('fast', function(){  
				//send the request to the server
				$.post(post_url, form_data, function(data, response, xhr) {
					//$('#latest_work .projects').css('background-image','none');
					$('#form-'+poll_id).html(data).slideDown('fast',function(){}); 
			    });
				
			});  
			}  
			else{
				$('#form-'+poll_id).prepend('<div class="alert alert-danger">{% trans "Please choose an answer" %}</div>'); 
			}
		})  
		
	} 
</script>
{% else %}
<p>{% trans "There are no polls published." %}
{% endif %}
                   